<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIsta de produtos </title>
    <style type="text/css">
        table,th, tr,td{
            border: 3px solid #000000;
            color:plum
        }
    
    </style>
</head>
<body>
   <table>
    <tr>
        <th>Nome Produto</th>
        <th>Marca</th>
        <th>Preço R$</th>
    </tr>

    <tr>
        <td>Camisa</td>
        <td>Nike</td>
        <td>R$ 250,00</td>
    </tr>
    <tr>
        <td>Bermuda</td>
        <td>Adidas</td>
        <td>R$ 99,99</td>
    </tr>
    <tr>
        <td>Boné</td>
        <td>Oakley</td>
        <td>R$ 200,00</td>
    </tr>
   </table>
    <style>
        body{
            background-color: rgb(38, 0, 255);
        }
    </style>
</body>
</html>
<!--doc gera toda estrutra para gerar a estrutura -->